@import "global.css";



.main {
    background: url('../img/main.jpg');
    padding: 178px 0 230px;
    position: relative;
}

.main__title {
    display: flex;
    align-items: center;
}

.main__title-1 {
    font-style: normal;
    font-weight: var(--font-wight400);
    font-size: 260px;
    line-height: 401px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #CB9E76;
    letter-spacing: -1px;
}

.main__title-2 {
    font-weight: var(--font-wight400);
    font-size: 260px;
    line-height: 100%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #CB9E76;
    margin-left: 84px;
}


.main__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -125px;
}

.main__descr {
    font-weight: var(--font-wight400);
    font-size: 21px;
    line-height: 130%;
    text-transform: uppercase;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;
    max-width: 541px;
    margin-bottom: 49px;
}

.main__name {
    font-weight: 300;
    font-size: 215.273px;
    line-height: 253px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #CB9E76;
}

.main__play-btn {
    position: absolute;
    bottom: 43px;
    left: 50%;
    transform: translateX(-50%);
}



@media(max-width: 1820px) {

    .main {
        padding: 178px 0 210px;
    }

    .main__wrap {
        margin-top: -20px;
    }

    .main__title-1 {
        font-size: 248px;
    }

    .main__title-2 {
        font-size: 244px;
        margin-left: 83px;
    }

    .main__bottom {
        margin-top: -133px;
        justify-content: flex-start;
        column-gap: 167px;
    }

    .main__descr {
        margin-bottom: 57px;
        font-size: 20px;
        max-width: 532px;
    }

    .main__name {
        font-size: 204.273px;
    }

    .main__play-btn {
        bottom: 40px;
    }

    .main__play-btn svg {
        height: 76px;
        width: 76px;
    }

}





.know-how {
    overflow: hidden;
    position: relative;
}

.know-how__slide {
    padding-top: 141px;
    padding-bottom: 198px;
    background-size: 100%;
}

.know-how__slide-title {
    font-weight: 300;
    font-size: 100px;
    line-height: 117px;
    text-transform: uppercase;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #2F3338;
    max-width: 723px;
    margin-left: -12px;
    position: relative;
    z-index: 2;
}

.know-how__slide-decor-title {
    font-weight: var(--font-wight400);
    font-size: 120px;
    line-height: 110px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;
    max-width: 736px;
    margin-top: -74px;
    margin-bottom: 57px;

    position: relative;
    z-index: 2;
}

.know-how__slide-descr {
    font-weight: var(--font-wight400);
    font-size: 21px;
    line-height: 140%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #2F3338;
    max-width: 749px;
}

.know-how__pagination {
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 80px;
}

.know-how__pagination .swiper-pagination-bullet {
    width: 35px;
    height: 35px;
    background: transparent;
    opacity: 1;

    border-color: transparent;

    position: relative;
}

.know-how__pagination .swiper-pagination-bullet:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 13px;
    width: 13px;
    background: #CB9E76;
    border-radius: 50%;
}

.know-how__pagination .swiper-pagination-bullet-active {
    border: 1px solid #CB9E76;
}



@media(max-width: 1820px) {

    .know-how__pagination {
        left: 6px !important
    }

    .know-how__pagination .swiper-pagination-bullet {
        width: 31px;
        height: 31px;
    }

    .know-how__slide {
        padding-top: 130px;
        padding-bottom: 189px;
    }

    .know-how__slide-title {
        letter-spacing: -0.008em;
        font-size: 96px;
        line-height: 112px;
    }

    .know-how__slide-decor-title {
        line-height: 105px;
        font-size: 114px;
        margin-top: -69px;
        margin-bottom: 52px;
    }

    .know-how__slide-descr {
        max-width: 729px;
        letter-spacing: 0.005em;
        font-size: 20px;
    }
}








/* recipe */
.recipe {
    padding-top: 430px;
    padding-bottom: 200px;

    position: relative;
}

.recipe__title {
    position: relative;
    z-index: 2;
    mix-blend-mode: lighten;
}

.recipe__title-decor {
    font-style: normal;
    font-weight: var(--font-wight400);
    font-size: 100px;
    line-height: 100px;
    text-transform: lowercase;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #CB9E76;
    margin-left: 267px;
    margin-bottom: -15px;
}

.recipe__title-line {
    font-weight: 300;
    font-size: 140px;
    line-height: 135px;
    text-transform: uppercase;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #2F3338;

    text-shadow: 1px 0 1px #fff, 0 1px 1px #fff, -1px 0 1px #fff, 0 -1px 1px #fff;
}

.recipe__title-line-1 {
    margin-left: -13px;
}

.recipe__title-line-2,
.recipe__title-line-3 {
    margin-left: 255px;
}


.recipe__items {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: -210px;
}

.recipe__items-right, .recipe__items-center {
    margin-left: 32px;
}

.recipe__items-left {
    padding-top: 143px;
}

.recipe__items-right {
    padding-top: 158px;
}

.recipe__item:not(:last-child) {
    margin-bottom: 33px;
}

.recipe__item {
    width: 423px;
    height: 423px;
    position: relative;
}

.recipe__item-content {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe__item-content-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: #2f3338ba;

    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    z-index: -1;
}

.recipe__item-content-text_active {
    opacity: 1;
    z-index: 1;

    transition: .5s;
}

.recipe__item-content-text span {
    max-width: 331px;
    width: 100%;
}

.recipe__item-btn {
    border-radius: 50%;

    cursor: pointer;

    width: 125px;
    height: 125px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #fff;
}

.recipe__item-btn * {
    pointer-events: none;
}

.recipe__item-img {
    width: 100%;
    display: block;
}




@media(max-width: 1820px) {
    .recipe__title-decor {
        font-size: 95px;
        margin-left: 253px;
        margin-bottom: -17px;
        margin-top: -26px;
    }

    .recipe__title-line {
        font-size: 133px;
        line-height: 127px;
    }

    .recipe__title-line-2, .recipe__title-line-3 {
        margin-left: 241px;
    }

    .recipe__items-left {
        padding-top: 134px
    }

    .recipe__item {
        width: 402px;
        height: 402px;
    }

    .recipe__items {
        margin-top: -196px;
    }

    .recipe__items-right, .recipe__items-center {
        margin-left: 29px;
    }

    .recipe__items-right {
        padding-top: 150px;
    }

    .recipe__item:not(:last-child) {
        margin-bottom: 30px;
    }

    .recipe__item-btn{
        width: 120px;
        height: 120px;
    }
}







/* therapy */
.therapy {
    padding: 108px 0;
}

.therapy__title {
    position: relative;
    z-index: 2;
    mix-blend-mode: lighten;
}

.therapy__title-top {
    font-weight: 300;
    font-size: 140px;
    line-height: 164px;
    text-transform: uppercase;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #2F3338;

    margin-left: -13px;

    text-shadow: 1px 0 1px #fff, 0 1px 1px #fff, -1px 0 1px #fff, 0 -1px 1px #fff;
}

.therapy__title-bottom {
    font-weight: var(--font-wight400);
    font-size: 100px;
    line-height: 100px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #CB9E76;

    text-align: right;
    padding-right: 110px;
    margin-top: -83px;
}







.therapy__content {
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
    padding-right: 12px;
}

.therapy__content-left {
    font-weight: var(--font-wight400);
    font-size: 21px;
    line-height: 140%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #2F3338;
    max-width: 384px;
    min-width: 384px;
    margin-right: 52px;
    padding-top: 150px;
}

.therapy__content-left-bottom {
    margin-bottom: 5px;
}

.therapy__btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: -8px;
    text-decoration: none;
}

.therapy__btn:hover .therapy__btn-icon {
    border-color: #CB9E76;
    background: #CB9E76;
}

.therapy__btn:hover .therapy__btn-icon svg path {
    stroke: #FFFFFF;
}

.therapy__btn-text {
    font-weight: 300;
    font-size: 21px;
    line-height: 140%;
    text-decoration-line: underline;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #2F3338;
    margin-top: 10px;
}

.therapy__btn-icon {
    width: 69.82px;
    height: 69.82px;

    border-radius: 50%;
    margin-left: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #2F3338;
}

.therapy__content-left p {
    margin: 0;
}

.therapy__content-left p:not(:last-child) {
    margin-top: 0;
    margin-bottom: 14px;
}

.therapy__content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.therapy__content-right {
    font-weight: var(--font-wight400);
    font-size: 21px;
    line-height: 140%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #2F3338;
    max-width: 424px;
    min-width: 424px;

    display: flex;
    align-items: flex-end;
}

.therapy__content-right p {
    margin: 0;
}

.therapy__content-right p:not(:last-child) {
    margin-top: 0;
    margin-bottom: 14px;
}

.therapy__video-view {
    position: relative;
}

.therapy__video-view-img {
    display: block;
}

.therapy__video-play-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.therapy__video-play {
    cursor: pointer;
    margin-top: 52px;
}

.therapy__video-play:hover svg circle {
    stroke: #CB9E76;
}

.therapy__video-play:hover svg path {
    fill: #CB9E76;
    stroke: #CB9E76;
}













/*blog*/

.blog {
    padding-bottom: 200px;
    padding-top: 200px;
}

.blog__title {
    font-weight: 300;
    font-size: 140px;
    line-height: 164px;
    text-transform: uppercase;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #2F3338;
    margin-left: -13px;
}

.blog__list-right-decor {
    font-weight: var(--font-wight400);
    font-size: 100px;
    line-height: 131px;

    text-transform: lowercase;
    font-feature-settings: 'pnum'on, 'lnum'on;

    color: #CB9E76;

    transform: rotate(-90deg);

    position: absolute;
    top: 137px;
    right: -178px;
}




.blog__list {
    display: flex;
    margin-top: 67px;
}

.blog__list-left {
    width: 532px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-right: 35px;
}

.blog__list-right-bottom {
    position: relative;
}

.blog__list-right-top {
    display: flex;
    align-items: flex-end;
}

.blog__item {
    position: relative;
    margin-bottom: 31px;
}

.blog__item-img {
    display: block;
}

.blog__item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #2f3338ab -0.04%, rgba(47, 51, 56, 0) 99.96%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    transition: .5s;
}

.blog__item-hovered-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: #2f3338c2;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    opacity: 0;
    z-index: -1;

    transition: .5s;
}

.blog__item:hover .blog__item-hovered-content {
    transition: .5s;
    opacity: 1;
    z-index: 1;
}

.blog__item:hover .blog__item-content {
    opacity: 0;
    transition: .5s;
}

.blog__item-hovered-content-icon {
    width: 125px;
    height: 125px;

    cursor: pointer;

    border: 1px solid #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    margin-bottom: 15px;
}

.blog__item-hovered-content-value {
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;
}



.blog__item-2 {
    width: 344.92px;
    height: 344.92px;
}

.blog__item-1, .blog__item-3 {
    height: 532px;
    width: 100%;
}

.blog__item-4 {
    width: 621.82px;
    height: 621.82px;
    margin-right: 35px;
}

.blog__item-5 {
    width: 376px;
    height: 376px;
}

.blog__item-6 {
    width: 893px;
    height: 894px;
}



.blog__item-top {
    font-weight: var(--font-wight400);
    font-size: 60px;
    line-height: 100%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #2F3338;
    text-align: right;
}

.blog__item-bottom {
    max-width: 575px;
}

.blog__item-title {
    font-weight: var(--font-wight400);
    font-size: 28px;
    line-height: 140%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;
}

.blog__item-descr {
    font-weight: var(--font-wight400);
    font-size: 18px;
    line-height: 140%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;
}









.index__consultation {
    padding: 20px 0;
}














/*your*/
.your {
    padding-top: 200px;
    padding-bottom: 304px;

    background: url("../img/your_bg.png");
    background-position: right top;
    background-repeat: no-repeat;
}

.your__title {
    display: flex;
}

.your__title-1 {
    font-weight: 300;
    font-size: 140px;
    line-height: 164px;
    text-transform: uppercase;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #2F3338;

    margin-left: -13px;
}

.your__title-2 {
    font-weight: var(--font-wight400);
    font-size: 190px;
    line-height: 128px;
    text-transform: lowercase;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #CB9E76;

    margin-left: -148px;
    margin-top: 74px;
}

.your__descr {
    font-weight: var(--font-wight400);
    font-size: 21px;
    line-height: 140%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #2F3338;
    max-width: 580px;
    margin-top: 29px;
}



.your__content {
    margin-top: 92px;
    position: relative;
}

.your__content-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 81px;
}

.your__content-item-count {
    font-weight: var(--font-wight400);
    font-size: 60px;
    line-height: 100%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #2F3338;
}

.your__content-item-text {
    font-weight: 300;
    font-size: 64px;
    line-height: 100%;
    text-transform: uppercase;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #2F3338;
    margin-left: 234px;
}

.your__content-item-text-2 {
    padding-left: 418px;
}

.your__content-decor {
    position: absolute;
    bottom: -79px;
    left: -160px;
    z-index: -1;
}














/*decor*/
.recipe__decor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.recipe__decor-top {
    position: absolute;
    top: 0;
    left: 0;
}

.recipe__decor-img-1 {
    position: absolute;
    top: 66px;
    left: 42px;
}

.recipe__decor-img-2 {
    position: absolute;
    top: 93px;
    left: 260px;
}

.recipe__decor-center {
    position: absolute;
    top: 1029px;
    width: 100%;
}

.recipe__decor-center-1 {
    position: absolute;
    right: 0;
}

.recipe__decor-img-3 {
    position: absolute;
    top: 0;
    right: 10px;
}



.recipe__decor-center-2 {
    position: absolute;
    top: 670px;
    right: 0;
}

.recipe__decor-img-4 {
    position: absolute;
    right: 50px;
    top: 59px;
}

.recipe__decor-img-5 {
    position: absolute;
    right: 146px;
    top: 220px;
}

.recipe__decor-img-6 {
    position: absolute;
    right: 16px;
    top: 309px;
}

















.funds {
    padding-top: 201px;
    padding-bottom: 53px;
}

.funds__container {
    max-width: 1738px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

.funds__title {
    display: flex;
    margin-left: -11px;
}

.funds__title-1 {
    font-style: normal;
    font-weight: 300;
    font-size: 140px;
    line-height: 164px;
    text-transform: uppercase;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #2F3338;
}

.funds__title-2 {
    font-style: normal;
    font-weight: var(--font-wight400);
    font-size: 190px;
    line-height: 293px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #CB9E76;

    margin-top: -20px;
    margin-left: -43px;
}



.funds__slider-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 58px 0;
}

.funds__btn {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    margin: 0 33px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #2F3338;
    cursor: pointer;
}

.funds__btn:hover {
    border-color: #CB9E76;
    background: #CB9E76;
}

.funds__btn:hover svg path {
    stroke: #FFFFFF;
}



.funds__slider {
    margin-top: -70px;
    overflow: hidden;
}

.funds__slider-wrap {
    display: flex;
}