.consultation {}

.consultation__title {
    font-weight: 300;
    font-size: 140px;
    line-height: 129px;
    text-transform: uppercase;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #2F3338;
    text-shadow: 1px 0 1px #fff, 0 1px 1px #fff, -1px 0 1px #fff, 0 -1px 1px #fff;

    position: relative;
    z-index: 2;
    mix-blend-mode: lighten;
}

.consultation__title-1 {
    margin-left: -13px;
}

.consultation__title-2 {
    text-align: right;
    margin-right: 157px;
}



.consultation__content {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: -278px;
}

.consultation__title__form {
    flex-grow: 1;
    max-width: 943px;
    padding-bottom: 87px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-right: 86px;
}

.consultation__title__form-top {
    font-weight: var(--font-wight400);
    font-size: 21px;
    line-height: 140%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #2F3338;
    max-width: 402px;
}

.consultation__title__form-top p:last-child {
    margin-bottom: 0;
}

.consultation__title__form-body {
    margin-top: 34px;
    display: flex;
    align-items: center;
}

.consultation__title__form-field {
    display: flex;
    flex-direction: column;
}

.consultation__title__form-button {
    border: none;
    background: transparent;
    margin-left: 75px;
    cursor: pointer;
}

.consultation__title__form-field .input-wrap {
    margin: 12px 0;
}

.consultation__title__form-field input {
    border: none;
    /*border-bottom: 1px solid #2F3338;*/
    width: 341px;

    font-weight: var(--font-wight400);
    font-size: 20.9455px;
    line-height: 100%;

    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #2F3338;

    height: 28px;
}

.consultation__title__form-field input::placeholder {
    color: rgba(47, 51, 56, 0.45);
}


@media (max-width: 1720px) {
    .consultation__title {
        font-size: 126px;
        line-height: 121px;
    }

    .consultation__title-2 {
        margin-right: 139px;
    }

    .consultation__title__form-button {
        margin-left: 108px;
    }

    .consultation__title__form-button svg {
        width: 142px;
        height: 144px;
    }

    .consultation__title__images {
        margin-top: 27px;
        margin-right: 85px;
    }

    .consultation__title__images-img {
        width: 512px;
        height: 659px;
    }

    .consultation__title__form {
        padding-right: 77px;
        padding-bottom: 55px;
        margin-top: 20px;
    }

    .consultation__title__form-body {
        margin-top: 21px;
    }

    .consultation__title__form-top {
        font-size: 18px;
        max-width: 327px;
    }

    .consultation__title__form {
        padding-right: 74px;
        margin-top: 20px;
    }

    .consultation__title__form-field {
        margin-bottom: 28px;
    }

    .consultation__title__form-field input {
        font-size: 18.9455px;
    }

    .consultation__title__form-field .input-wrap {
        margin-bottom: 13px;
    }

    .consultation__title__form-field input {
        width: 266px;
    }
}



@media (max-width: 1519px) {
    .consultation__title {
        font-size: 111px;
        line-height: 103px;
        letter-spacing: 0px;
    }

    .consultation__title-2 {
        margin-right: 118px;
    }

    .consultation__title__form-button svg {
        width: 130px;
        height: 130px;
    }

    .consultation__title__images {
        margin-top: 59px;
        margin-right: 82px;
    }

    .consultation__title__images-img {
        width: 438px;
        height: 582px;
    }

    .consultation__title__form-body {
        margin-top: 28px;
    }

    .consultation__title__form-top {
        font-size: 17px;
        letter-spacing: -0.2px;
        max-width: 327px;
    }
    .consultation__title__form-field {
        margin-bottom: 39px;
    }

    .consultation__title__form-field input {
        font-size: 16.9455px;
    }

    .consultation__title__form-field .input-wrap {
        margin: 8px 0;
    }

    .consultation__title__form-field input {
        width: 266px;
    }

    .consultation__title__form-button {
        margin-left: 54px;
        margin-right: 5px;
        margin-bottom: 29px;
    }
    .consultation__title__form {
        padding-right: 57px;
        margin-top: 20px;
        padding-bottom: 41px;
    }

    .consultation__title__form-field input{
        height: 25px;
        width: 272px;
    }
}


